<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form class="" action="/bookings" method="post">
      Your Name
      <br>
      <input type="text" name="organiserName">
      <br>
      Your Email
      <br>
      <input type="text" name="organiserEmail">
      <br>
      Date
      <br>
      <input type="date" name="date">
      <br>
      Notes
      <br>
      <textarea rows="5" cols="80" name="notes"></textarea>
      <br>
      hasPaid
      <br>
      <input type="checkbox" name="hasPaid">
      <br>
      Team Name
      <br>
      <input type="text" name="teamName">
      <br>

      <input type="submit">
    </form>

    <ul>
      <% bookings.forEach(booking => { %>
        <li>Booking ID: <%= booking._id %></li>
        <li>Organiser Name: <%= booking.organiserName %></li>
        <li>Organiser Email: <%= booking.organiserEmail %></li>
        <li>Team Name: <%= booking.teamName %></li>
        <li>Date: %= booking.date %></li>
        <li>Notes: <%= booking.notes %></li>
        <li>hasPaid: <%= booking.hasPaid %></li>
        <br>
      <% }) %>
    </ul>
  </body>
</html>
