<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form class="" action="/rooms" method="post">
      Title
      <br>
      <input type="text" name="title">
      <br>
      Min Members
      <br>
      <input type="text" name="minMembers">
      <br>
      Max Members
      <br>
      <input type="text" name="maxMembers">
      <br>
      isEnabled
      <br>
      <input type="checkbox" name="isEnabled" unchecked>
      <br>
      description
      <br>
      <textarea rows="5" cols="80" name="description"></textarea>
      <br>
      pictures
      <br>
      <input type="text" name="pictures">
      <br>
      <input type="submit">
    </form>

    <ul>
      <% rooms.forEach(room => { %>
        <li>Room ID: <%= room._id %></li>
        <li>Title: <%= room.title %></li>
        <li>Created: <%= room.createdAt %></li>
        <li>Enabled? <%= room.isEnabled %></li>
        <li>From: <%= room.minMembers %> to <%= room.maxMembers %></li>
        <li>Description: <%= room.description %></li>
        <li>Pictures: <%= room.pictures %></li>
        <br>
      <% }) %>
    </ul>
  </body>
</html>
