<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form class="" action="/stats" method="post">
      Date
      <input type="date" name="stat_date">
      <br>
      time
      <input type="text" name="stat_time">
      <br>
      picture
      <input type="text" name="stat_picture">
      <br>
      team
      <input type="text" name="stat_team">
      <br>
      <input type="submit">
    </form>

    <ul>
      <% stats.forEach(stat => { %>
        <li><%= stat._id %></li>
        <li><%= stat.date %></li>
        <li><%= stat.time %></li>
        <li><%= stat.picture %></li>
        <li><%= stat.team %></li>
        <br>
      <% }) %>
    </ul>
  </body>
</html>
